@using PM.Models
@model List<ProductUnit>
@{
}

@section css{
    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
}

@section js{
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $('#listing').dataTable();
    </script>
}

<div class="right_col" role="main" style="min-height: 3771px;">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Đơn vị sản phẩm</h3>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Danh sách đơn vị sản phẩm</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="listing" class="table table-striped table-bordered bulk_action">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên ngành hàng</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.UnitId</td>
                                            <td>@item.UnitName</td>
                                            <td><a asp-controller="Unit" asp-action="AddEdit" asp-route-cateId="@item.UnitId" class="btn btn-primary">Sửa</a> <a asp-controller="Unit" asp-action="Delete" asp-route-cateId="@item.UnitId" class="btn btn-danger">Xoá</a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
